streamlit==1.45.1
torch==2.5.1
numpy==2.0.2
regex==2024.11.6
pydub==0.25.1
transformers==4.51.3
scipy==1.13.1
moviepy==1.0.3
tokenizers==0.21.1
safetensors==0.5.3
huggingface-hub==0.31.1
filelock==3.18.0
requests==2.32.3
tqdm==4.67.1
packaging==24.2
PyYAML==6.0.2
git+https://github.com/openai/whisper.git
